<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mybatis-3-mapper.dtd:约束文件的名称，限制和检查在当前文件中出现的标签和属性符合mybatis的要求-->
<!--namespace：命名空间，要有唯一的值，要求使用dao接口的权限定名称（一个dao接口对应一个mapper，namespace指明对应哪个dao接口）-->
<mapper namespace="com.dyx.mobilegis.mapper.UserMapper">
     <!-- 所有的数据库操作都要写在mapper标签中，可以使用特定的标签表示数据库中的特定操作 -->
  <!--<select id="selectPhone" resultType="User">
   select userphone,userpassword from user_login where userphone=#{userPhone} and userpassword=#{userPassword}
  </select>-->

    <!--结果集映射-->
  <!--  <resultMap id="UserMap" type="User">
        &lt;!&ndash;column对应数据库字段 property对应实体类属性&ndash;&gt;
        <result column="userid" property="userId"/>
        <result column="username" property="userName"/>
        <result column="userphone" property="userPhone"/>
        <result column="userpassword" property="userPassword"/>
        <result column="userposition" property="userPosition"/>
    </resultMap>-->

    <select id="getUserNumberByName" resultType="int">
        select count(*) from user_login where username=#{userName}
    </select>

    <select id="getUserNumberByPhone" resultType="int">
        select count(*) from user_login where userphone=#{userPhone}
    </select>

    <select id="getPasswordByName" resultType="User">
        select * from user_login
        where username=#{userName} and userpassword=#{userPassword}
    </select>

    <select id="getPasswordByPhone" resultType="User">
        select * from user_login
        where userphone=#{userPhone} and userpassword=#{userPassword}
    </select>

    <insert id="createUser" parameterType="User" >
        insert into user_login(username,userphone,userpassword,userposition)
            values (#{userName},#{userPhone},#{userPassword},#{userPosition})
    </insert>

    <update id="updatePassword" >
        update user_login set userpassword=#{userNewPassword}
        where userphone=#{userPhone}
    </update>

</mapper>